body {
    background-image: url(/assets/images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
    background-size: contain;
}

.navbar .brand {
    max-height: 40px;
    max-width: 30%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    border: 0;
    background: transparent;
}

.welcome_message {
    color: white;
    margin: 0;
    border: 0;
    background-color: black;
    justify-content: center;
}